html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,
time,mark,audio,video,
hr{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
select,input{
    margin:0;
    padding:0;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,ul{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:'';
    content:none;
}
table{
    border-collapse:collapse;
}
html,body{
    height:100%;
    width:100%;
    overflow:hidden;
    background-color:#39414a;
}
header{
    background-color:#19232d;
}
h1,h2{
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    height:40px;
    line-height:33px;
    font-weight:bold;
}
h1{
    left:0px;
    width:100px;
    color:rgba(255,255,255,0.5);
    font-style:italic;
    text-align:left;
}
h2{
    margin-top:-53px;
    line-height:38px;
    right:0px;
    margin-left:50%;
    color:#364c61;
    white-space:nowrap;
    text-shadow:0px 0px 10px #000;
    font-style:italic;
    text-align:right;
}
nav{
    height:30px;
}
nav ul{
    width:100%;
}
nav ul li{
    float:left;
    margin-right:5px;
}
nav ul a{
    display:inline-block;
    width:120px;
    height:25px;
    border-radius:5px 5px 0 0;
    text-align:center;
    padding-top:5px;
    background:linear-gradient(to bottom,#656e75 0%,#282b2e 100%);
    box-shadow:inset 0 1px rgba(255,255,255,.05),3px 0px rgba(0,0,0,.2);
}
nav ul a:not([id="active"]):hover{
    background:linear-gradient(to bottom,#717b82 0%,#33373b 100%);
}
nav ul a:active,nav ul a:active,#active{
    background-image:linear-gradient(to bottom,#1c8aca 0%,#0f5983 100%);
}
a,a:link{
    color:rgba(255,255,255,0.8);
    text-decoration:none;
}
header + hr{
    clear:both;
}
header + hr,section + hr{
    width:100%;
    height:8px;
    background-color:#0e577f;
    background-image:linear-gradient(to bottom,#0f5983 0%,#0e577f 100%);
    border:none;
}
section{
    position:fixed;
    width:100%;
    top:85px;
    bottom:24px;
    overflow:auto;
}
form{
    position:absolute;
    top:150px;
    bottom:168px;
    left:0px;
    right:0px;
    min-width:767px;
}
fieldset{
    position:relative;
    width:747px;
    margin-left:50%;
    left:-383px;
    top:50%;
    margin-top:-151px;
    padding:10px;
}
label,input{
    font-size:12px;
    border:none;
    border-radius:5px 5px 0px 0px;
    color:rgba(255,255,255,0.6);
    display:inline-block;
    width:85px;
    height:18px;
    padding-top:5px;
    padding-left:8px;
    background:linear-gradient(rgb(101,110,117),rgb(40,43,46)) repeat scroll 0% 0% transparent;
}
textarea{
    width:736px;
    height:100px;
    border-radius:0px 5px 5px 5px;
    background-color:rgb(222,228,234);
    border:0;
    padding:5px;
}
select{
    width:92px;
    background-color:rgb(222,228,234);
    border:0;
    margin-left:-7px;
    border-radius:0px 5px;
}
section + hr{
    position:absolute;
    bottom:8px;
}
section > form > fieldset > p{
    margin-bottom:10px;
}
section > form > fieldset > p + p + p{
    margin-bottom:0px;
}
input{
    height:20px;
    padding-left:2px;
    padding-bottom:2px;
    padding-top:0px;
    border-radius:5px;
}
section + hr{
    position:fixed;
    bottom:16px;
}
footer{
    position:fixed;
    width:100%;
    background-color:#19232d;
    font-size:14px;
    color:#364c61;
    height:16px;
    line-height:16px;
    bottom:0px;
    text-align:center;
}
